.badgeTitle {
  display: inline-block;
  padding: 10px 40px;
  border: 2px solid #0f9182;
  border-radius: 100px;
  font-family: "NexaRound";
  font-weight: 900;
  font-size: 24px;
  color: #0f9182;
  opacity: 0.7;
  margin-bottom: 26px;
  text-align: left;

  @media (max-width: 640px) {
    margin-bottom: 24px;
  }
}

.title {
  font-family: "NexaRound";
  font-weight: 900;
  font-size: 32px;
  color: #0f9182;
  line-height: 120%;
  margin: 20px 0;
  text-align: center;
  line-height: 120%;
}

.titleupdate {
  max-width: 615px;
  margin: 0 auto;
}

.subtitle {
  text-align: center;
  font-family: "NexaRound";
  font-weight: 600;
  font-size: 18px;
  color: #0f9182;
  opacity: 0.6;
  line-height: 160%;
  margin-bottom: 59px;
  letter-spacing: -0.02em;
  max-width: 615px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 19px;

  @media (max-width: 640px) {
    margin-top: 24px;
  }
}

.featureItem {
  display: flex;
  align-items: center;
  gap: 16px;
}

.iconBox {
  position: relative;
  width: 45.66px;
  height: 46.23px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* opacity: 0.6; */
  flex-shrink: 0;
  border: 1px solid;
  box-shadow: 0px 2px 10px;
  transform: rotate(-0.38deg);
}

.iconBox img {
  width: 24px;
  height: 24px;
  filter: brightness(1);
}

.activeToggle::after {
  content: "";
  position: absolute;
  left: 15px;
  width: 5px;
  height: 5px;
  background-color: #ed9b37;
  border-radius: 50%;
}

.iconPink {
  background-image: linear-gradient(to bottom,
      rgba(235, 105, 249, 0.4) 1%,
      rgba(250, 203, 255, 0.4) 99%);
  border: 1px solid rgba(127, 15, 145, 0.4) !important;
  box-shadow: 0px 2px 10px rgba(234, 101, 255, 0.4) !important;
}

.iconPurple {
  background: linear-gradient(180deg,
      rgba(112, 105, 249, 0.4) 0%,
      rgba(203, 218, 255, 0.4) 100%);
  border: 1px solid rgba(15, 28, 145, 0.4);
  box-shadow: 0px 2px 10px rgba(101, 129, 255, 0.4);
}

.iconOrange {
  background: linear-gradient(180deg,
      rgba(249, 204, 105, 0.4) 0%,
      rgba(255, 232, 203, 0.4) 100%);
  border: 1px solid rgba(237, 155, 55, 0.4);
  box-shadow: 0px 2px 10px rgba(255, 201, 101, 0.4);
}

.iconBlue {
  background: linear-gradient(180deg,
      rgba(105, 228, 249, 0.4) 0%,
      rgba(203, 253, 255, 0.4) 100%);
  border: 1px solid rgba(15, 123, 145, 0.4);
  box-shadow: 0px 2px 10px rgba(101, 206, 255, 0.4);
}

.iconGreen {
  background: linear-gradient(180deg,
      rgba(105, 249, 124, 0.4) 0%,
      rgba(203, 255, 220, 0.4) 100%);
  border: 1px solid rgba(5, 242, 28, 0.4);
  box-shadow: 0px 2px 10px rgba(101, 255, 134, 0.4);
}

.iconRed {
  background: linear-gradient(180deg,
      rgba(249, 105, 105, 0.4) 0%,
      rgba(255, 203, 204, 0.4) 100%);
  border: 1px solid rgba(251, 30, 34, 0.4);
  box-shadow: 0px 2px 10px rgba(255, 101, 103, 0.4);
}

.featureText {
  font-family: "NexaRound";
  font-weight: bold;
  font-size: 18px;
  color: #161616;
  text-align: left;
  line-height: 130%;
  letter-spacing: -0.02em;
  margin: 0;
}

.featuresGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding: 0 20px;
  gap: 40px;
  max-width: 910px;
  row-gap: 67px;
  margin: 0 auto;
  padding: 0;
  justify-content: center;

  @media (max-width: 768px) {
    grid-template-columns: 1fr;
    gap: 34px;
    padding: 0;
    justify-items: start;
    text-align: left;
  }

  @media (max-width: 640px) {
    gap: 37px;
  }
}

.wrapperIcon {
  position: relative;
  width: 100%;
  margin: 0 auto;
  padding: 40px;
  text-align: center;
  scroll-margin-top: 120px;
}

@media (max-width: 768px) {
  .wrapperIcon {
    text-align: left;
    padding: 0px 10px;
  }

  .badgeTitle,
  .subtitle {
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    font-size: 16px;
  }

  .title {
    text-align: left;
    margin-left: 0;
    margin-right: 0;
    font-size: 24px;
  }

  .subtitle {
    margin-left: 0;
    margin-right: 0;
    font-size: 18px;
  }

  .featureItem {
    width: 100%;
    justify-content: flex-start;
    padding: 0;
  }

  .featureText {
    text-align: left;
    margin: 0;
  }
}

@media (max-width: 375px) {
  .wrapperIcon {
    text-align: left;
    padding: 0 0;
  }
}