.faqcontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
  justify-content: center;
  margin-top: -20px;

  @media (max-width: 768px) {
    gap: 39px;
  }
}

.faqline {
  width: 100%;
}

.headfaq {
  font-size: 32px;
  font-weight: 900;
  font-family: "NexaRound";
  text-align: center;
  color: #2a2929;

  @media (max-width: 768px) {
    font-size: 24px;
  }
}

.qacontainer {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 0 15px 0 8px;

  @media (max-width: 768px) {
    padding: 0 8px;
  }
}

.activefaq {
  gap: 18px;
  padding-bottom: 37px;
  padding-top: 24px;

  @media (max-width: 768px) {
    gap: 10px;
    padding-bottom: 17px;
    padding-top: 26px;
  }
}

.closefaq {
  padding-bottom: 23px;

  @media (max-width: 768px) {
    padding-bottom: 24px;
  }
}

.closeques {
  padding-top: 24px;

  @media (max-width: 768px) {
    padding-top: 26px;
  }
}

.firstque {
  padding-bottom: 17px;

  @media (max-width: 768px) {
    padding-bottom: 10px;
  }
}

.quediv {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.ansdiv {
  font-size: 20px;
  font-weight: bold;
  font-family: "NexaRound";
  color: #2a2929;
  opacity: 0.6;
  text-align: left;
  width: 100%;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.4s ease, opacity 0.3s ease;
  overflow: hidden;

  @media (max-width: 768px) {
    font-size: 16px;
  }
}

.ansdiv.open {
  opacity: 0.6;
  margin-bottom: 37px;

  @media (max-width: 768px) {
    margin-bottom: 17px;
  }
}

.ansdiv.close {
  opacity: 0;
  max-height: 0;
}

.question {
  font-size: 24px;
  font-weight: 800;
  color: #2a2929;
  font-family: "NexaRound";
  opacity: 0.9;
  cursor: pointer;

  @media (max-width: 768px) {
    font-size: 18px;
  }
}

.plussvg {
  width: 24px;
  height: 24px;
  transition: transform 0.5s ease;
  cursor: pointer;

  @media (max-width: 768px) {
    width: 25px;
    height: 25px;
  }
}

.rotate {
  transform: rotate(45deg);
}

.line {
  width: 100%;
  background: #000;
  height: 1px;
}

@media (max-width: 768px) {
  .faqline:last-child .line {
    display: none;
  }
}

.faqBox {
  position: relative;
  margin-left: 12px;
  max-width: 1127px;
  width: 100%;
  padding: 12px 72px 75px 27px;
  border-radius: 39px;
  background: #ffa5a5;
  border: 2px solid #000;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  transition: all 0.3s ease;
  z-index: 1;

  @media (max-width: 768px) {
    padding: 11px 25px 28px 10px;
    margin-left: 10px;
  }
}

.faqBox::after {
  content: "";
  position: absolute;
  top: -21px;
  left: -12px;
  width: 100%;
  height: 100%;
  background: #fff8e8;
  border: 2px solid #000;
  border-radius: 39px;
  z-index: -1;
  pointer-events: none;

  @media (max-width: 768px) {
    top: -16px;
    left: -10px;
  }
}