.footer {
  display: flex;
  justify-items: space-between;
  width: 100%;
  background: #2a2a2a;
  border-radius: 39px;
  padding: 40px;
  align-items: center;
  margin-bottom: 20px;

  @media (max-width: 768px) {
    flex-direction: column;
    align-items: unset;
    gap: 24px;
  }

  @media (max-width: 678px) {
    padding: 30px;
    gap: 20px;
    /* margin-bottom: 60px; */
  }
}

.footerLeft {
  display: flex;
  flex-direction: column;
  align-content: center;
  gap: 12px;
}

.footerEmail {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  font-family: "NexaRound";
  text-decoration: none;

  @media (max-width: 678px) {
    font-size: 14px;
  }
}

.leftTop {
  display: flex;
  align-content: center;
}

.footerPolicies {
  color: #fff;
  font-size: 16px;
  font-weight: 500;
  font-family: "NexaRound";
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  @media (max-width: 678px) {
    font-size: 14px;
  }
}

.blipLogo {
  border-radius: 8px;
}

.footerPoliciesNew {
  color: #b0b0b0;
  font-size: 16px;
  font-weight: 600;
  text-align: right;
  line-height: 1.5;
  font-family: "NexaRound";
  max-width: 490px;
  /* letter-spacing: 1px;  */

  @media (max-width: 768px) {
    text-align: left;
    max-width: unset;
    text-decoration-color: white;
  }

  @media (max-width: 678px) {
    font-size: 14px;
  }

  a {
    color: #fff;
    text-decoration: underline;
    text-decoration-color: white;
    font-size: 16px;
    font-weight: 700;

    @media (max-width: 678px) {
      font-size: 14px;
    }
  }
}

.footerRight {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: flex-end;
  width: 100%;

  @media (max-width: 768px) {
    align-items: unset;
  }

  @media (max-width: 678px) {
    font-size: 14px;
  }
}

.brandTextFooter {
  font-size: 32px;
  color: #fff;
  font-family: "NexaRound";
  font-weight: 800;
  letter-spacing: -0.04em;
  line-height: 1;
  margin-left: 8px;
}