.header {
  width: 100%;
  display: flex;
  align-items: center;
  background: transparent;
  box-sizing: border-box;
  justify-content: space-between;
  z-index: 1000;
  transition: background-color 0.3s ease, backdrop-filter 0.3s ease;
  position: sticky;
  top: 30px;
  z-index: 100;
  @media (max-width: 840px) {
    position: relative;
    margin-top: 0;  
  }
}

.logoWrapper {
  width: 100%;
  display: flex;
  padding: 47px 0 0 0;
  z-index: 1001;
  gap: 6px;
}

.brand {
  display: none;
  align-items: center;
  z-index: 1000;
}

.blipLogo {
  border-radius: 8px;
}

.brandText {
  font-family: "NexaRound", sans-serif;
  font-weight: 900;
  font-size: 48px;
  line-height: 1;
  letter-spacing: -0.04em;
  color: #1e0300;
}

.navLinks {
  z-index: 1001;
  position: fixed;
  top: 30px;
  right: 50px;
  width: 588px;
  height: 75px;
  background: #2a2a2a;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 20px;
  gap: 28px;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 0 0 rgba(0, 0, 0, 0);
}

.scrolled {
  z-index: 1001;
  position: fixed;
  top: 30px;
  right: 50px;
  width: 438px;
  height: 75px;
  background: #2a2a2a;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 20px;
  gap: 28px;
  transition: box-shadow 0.3s ease;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.5);
}

.navLinks a {
  color: #fff;
  font-family: "NexaRound", sans-serif;
  font-size: 18px;
  text-decoration: none;
  font-weight: 600;
  font-style: normal;
  line-height: normal;
}

.navLinks .startBtn {
  padding: 0.5rem 1rem;
  border-radius: 999px;
  font-family: "NexaRound", sans-serif;
  font-weight: 600;
  color: #fff;
  border: 2px solid rgba(255, 255, 255, 1);
  cursor: pointer;
  font-size: 18px;
}

.navLinks .FreeTrial {
  padding: 0.5rem 1rem;
  border-radius: 999px;
  background: #fffbf9;
  font-family: "NexaRound", sans-serif;
  font-weight: 800;
  color: #000;
  border: none;
  cursor: pointer;
  font-size: 18px;
}

.menuBtn {
  margin-left: auto;
  background: #2a2a2a;
  border: none;
  padding: 10px 20px 10px 20px;
  border-radius: 999px;
  display: none;
  cursor: pointer;
  z-index: 1000;
}

.menuBtnText {
  font-size: 18px;
  background: #2a2a2a;
  color: #fff;
  font-weight: 700;
  font-family: "NexaRound", sans-serif;
}

.mobileMenu {
  position: fixed;
  top: 60px;
  left: 0;
  right: 0;
  height: auto;
  max-height: 80vh;
  background: #2a2a2a;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 24px;
  padding: 40px 20px 30px 20px;
  z-index: 1002;
  margin: 20px;
  transform: scale(0.8) translateY(-20px);
  transform-origin: top center;
  opacity: 0;
  transition: all 0.25s cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
}

.mobileMenu.open {
  transform: scale(1) translateY(0);
  opacity: 1;
  pointer-events: all;
}

.mobileMenu a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
  text-align: left;
  width: "fit-content";
  padding: 5px 0;
  font-weight: 600;
}

.mobileMenu .startBtn {
  padding: 0.75rem 1.5rem;
  background: #fff;
  color: #000;
  border: none;
  border-radius: 999px;
  font-size: 18px;
  width: auto;
  margin-top: 20px;
  cursor: pointer;
  font-weight: 800;
}

@media (min-width: 841px) {
  .mobileMenu {
    display: none !important;
  }
}

@media (max-width: 840px) {
  .brand {
    display: flex;
    align-items: center;
    z-index: 1000;
    gap: 3px;
  }

  .logoWrapper {
    display: none;
  }

  .brandText {
    font-size: 30px;
  }

  .navLinks {
    display: none;
  }

  .menuBtn {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }
}