.landing {
  font-family: "NexaRound", Arial, sans-serif;
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  color: #5a1a01;
  background-color: #fffbf3 !important;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  min-height: 100%;
  overflow-y: auto;
  scroll-behavior: auto;
  min-height: 100vh;
}

.container {
  max-width: 1300px;
  width: 100%;
  gap: 150px;
  display: flex;
  flex-direction: column;
  padding: 0 20px 60px 20px;
}

@media (max-width: 768px) {
  .container {
    gap: 80px;
    margin-top: 0px;
  }
}