.pricingHeader {
  text-align: center;
  margin-bottom: -100px;

  @media (max-width: 768px) {
    text-align: left;
    margin-bottom: -40px;
  }
}

.pricingTitle {
  font-family: "NexaRound", Arial, sans-serif;
  font-size: 32px;
  line-height: 1.2;
  font-weight: 900;
  color: #7f0f91;

  @media (max-width: 768px) {
    font-size: 24px;
    margin-bottom: 0px;
  }
}

.wrapperStart {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #fffbf3;
  gap: 25px;

  @media (max-width: 1100px) {
    gap: 20px;
  }

  @media (max-width: 768px) {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.container2Start {
  position: relative;
  margin-left: 15px;
  max-width: 533px;
  width: 100%;
  padding: 6px 50px 0px 20px;
  border-radius: 39px;
  background: #ffa5a5;
  border: 2px solid #000;
  color: #fff;
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  flex-wrap: wrap;
  transition: all 0.3s ease;
  z-index: 1;
  justify-content: center;

  @media (max-width: 768px) {
    padding: 0px 26px 30px 0px;
    margin-left: 9.7px;
  }
}

.container2Start::after {
  content: "";
  position: absolute;
  top: -16px;
  left: -15px;
  width: 100%;
  height: 100%;
  background: #3972eb;
  border: 2px solid #000;
  border-radius: 39px;
  z-index: -1;
  pointer-events: none;

  @media (max-width: 768px) {
    top: -8px;
    left: -9.7px;
  }
}

.container3Start {
  position: relative;
  margin-left: 15px;
  max-width: 533px;
  width: 100%;
  padding: 6px 50px 0px 0px;
  border-radius: 39px;
  background: #ffa5a5;
  border: 2px solid #000;
  color: #fff;
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  flex-wrap: wrap;
  transition: all 0.3s ease;
  z-index: 1;
  justify-content: center;

  @media (max-width: 768px) {
    padding: 0px 26px 30px 0px;
    margin-left: 9.7px;
  }
}

.container3Start::after {
  content: "";
  position: absolute;
  top: -16px;
  left: -15px;
  width: 100%;
  height: 100%;
  background: #ff9142;
  border: 2px solid #000;
  border-radius: 39px;
  z-index: -1;
  pointer-events: none;

  @media (max-width: 768px) {
    top: -8px;
    left: -9.7px;
  }
}

.container4Start {
  position: relative;
  margin-left: 15px;
  max-width: 533px;
  width: 100%;
  padding: 6px 50px 0px 0px;
  border-radius: 39px;
  background: #ffa5a5;
  border: 2px solid #000;
  color: #fff;
  display: flex;
  gap: 3rem;
  justify-content: space-between;
  flex-wrap: wrap;
  transition: all 0.3s ease;
  z-index: 1;
  justify-content: center;

  @media (max-width: 768px) {
    padding: 0px 26px 30px 0px;
    margin-left: 9.7px;
  }
}

.container4Start::after {
  content: "";
  position: absolute;
  top: -16px;
  left: -15px;
  width: 100%;
  height: 100%;
  background: #7B68EE;
  border: 2px solid #000;
  border-radius: 39px;
  z-index: -1;
  pointer-events: none;

  @media (max-width: 768px) {
    top: -8px;
    left: -9.7px;
  }
}

.startcontent3 {
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.price1Start {
  color: #fff;
  font-family: "NexaRound";
  font-size: 24px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  margin-bottom: 0;
  margin-top: 11px;
}

.priceStart {
  background: none;
  color: #fff;
  font-family: "NexaRound";
  font-size: 24px;
  font-weight: bold;
  padding: 10px 24px;
  border-radius: 60px;
  margin-top: 18px;
  text-align: center;
  width: fit-content;
  border: 2px solid #fffbf3;
}

.featureStart {
  list-style: none;
  padding: 0;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  gap: 16px;

  @media (max-width: 768px) {
    gap: 19px;
  }
}

.feature {
  position: relative;
  padding-left: 32px;
  color: #fff;
  font-size: 16px;
  display: flex;
  align-items: center;
  font-weight: 600;
}

.icon {
  position: absolute;
  left: 0;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon img {
  width: 24px;
  height: 24px;
}

.ctaBtnStart {
  background: #fff;
  text-decoration: none;
  color: #3972eb;
  font-weight: 800;
  padding: 12px 53px;
  border-radius: 59px;
  margin-top: 20px;
  border: none;
  cursor: pointer;
  font-size: 18px;
  font-family: "NexaRound";
  display: inline-block;
  text-align: center;
}

.descriptionStart {
  color: #fff8e9;
  opacity: 0.7;
  line-height: 1.6;
  max-width: 308px;
  font-family: "NexaRound";
  font-weight: 600;
  font-size: 16px;
  letter-spacing: -0.28px;
  margin-top: 8px;
  margin-bottom: 38px;

  @media (max-width: 768px) {
    font-size: 14px;
    margin-bottom: 0px;
  }
}